name: lst-dev
channels:
  - default
  - cta-observatory
  - conda-forge
dependencies:
  - python=3.7
  - pip
  - ctapipe=0.7.0
  - gammapy>=0.17
  - h5py
  - ipython
  - jupyter
  - notebook
  - joblib
  - pip:
      - pytest_runner
      - pytest-ordering
      - git+git://github.com/cta-observatory/ctapipe_io_lst@v0.4.1
      - ctaplot
