name: lst-dev
channels:
  - conda-forge
  - default
dependencies:
  - python=3.8
  - numpy=1.22
  - astropy=5
  - pip
  - ctapipe=0.17
  - gammapy=1
  - h5py
  - ipython
  - jupyter
  - matplotlib=3.5
  - notebook
  - iminuit>=2
  - joblib~=1.2.0
  - toml
  - protozfits=2.0
  - protobuf=3.20
  - pyparsing
  - scikit-learn=1.0
  - sphinx=4
  - sphinx-automodapi
  - sphinx_rtd_theme
  - sphinx-argparse
  - nbsphinx
  - numba
  - numpydoc
  - pandas>=2
  - pymongo
  - seaborn
  - scipy>=1.8
  - jinja2=3.0 # pinned for bokeh 1.0 compatibility
  - pip:
      - git+https://github.com/cta-observatory/ctapipe_io_lst@ctapipe_0.17
      - ctaplot~=0.6.2
      - pyirf~=0.8.0
