name: lst-dev
channels:
  - conda-forge
  - default
dependencies:
  - python=3.8
  - numpy=1.21
  - astropy~=4.2
  - pip
  - ctapipe=0.12
  - gammapy=0.19
  - h5py
  - ipython
  - jupyter
  - matplotlib=3.5
  - notebook
  - joblib
  - toml
  - protozfits=2.0
  - pyparsing
  - scikit-learn=1.0
  - sphinx~=4.2
  - sphinx-automodapi
  - sphinx_rtd_theme
  - sphinx-argparse
  - nbsphinx
  - numpydoc
  - pandas
  - pymongo
  - seaborn
  - jinja2=3.0 # pinned for bokeh 1.0 compatibility
  - pip:

      - ctapipe_io_lst~=0.18.1
      - ctaplot~=0.6.2
      - pyirf~=0.6.0
