name: lst-dev
channels:
  - conda-forge
  - default
dependencies:
  - python=3.8
  - numpy=1.21
  - astropy~=4.2
  - pip
  - ctapipe=0.12
  - gammapy=0.19
  - h5py
  - ipython
  - jupyter
  - matplotlib=3.5
  - notebook
  - joblib
  - toml
  - protozfits=2.0
  - pyparsing
  - scikit-learn=1.0
  - sphinx~=4.2
  - sphinx-automodapi
  - sphinx_rtd_theme
  - sphinx-argparse
  - nbsphinx
  - numpydoc
  - pandas
  - pymongo
  - seaborn
  - pip:
      - ctapipe_io_lst~=0.15.0
      - ctaplot~=0.5.5
      - pyirf~=0.6.0
