name: lst-dev
channels:
  - default
  - cta-observatory
  - conda-forge
dependencies:
  - python=3.7
  - astropy>=4.2
  - pip
  - ctapipe~=0.10.5
  - gammapy>=0.18
  - h5py
  - ipython
  - jupyter
  - notebook
  - joblib
  - toml
  - protozfits=2.0
  - pip:
      - pytest_runner
      - pytest-ordering
      - ctapipe_io_lst~=0.9.0
      - ctaplot
      - pyirf~=0.4.0
