name: lst-dev
channels:
  - default
  - cta-observatory
  - conda-forge
dependencies:
  - ctapipe=0.7.0
  - gammapy
  - h5py
  - pip:
      - pytest_runner
      - pytest-ordering
      - https://github.com/cta-sst-1m/protozfitsreader/archive/v1.4.2.tar.gz
      - https://github.com/cta-observatory/ctapipe_io_lst/archive/v0.4.1.tar.gz
