This repository is very dependent on (to be merged with) ctapipe. 

To install all the compatible software to run it, follow the instructions in:

https://cta-observatory.github.io/ctapipe/getting_started/index.html

and create the environment using ctapipe/environment.yml
